:root {
  --color-primary: #5c65c0;
  --color-primary-light: #6f95ff;

  --color-secondary: #413b6b;

  --color-background: #1c0b2b;
  --color-surface: #301c41;

  --color-text: #ffffff;
  --color-text-muted: #c7c7c7;

  --icon-sm: 25px;
  --icon-md: 50px;
  --icon-lg: 70px;
}

#root{
  max-width: 100%;
  margin: 0;
}

.sidebar{
  width: 220px;
  background: var(--color-background);
  color: var(--color-text);
  padding: 20px;
}

.sidebar-link{
  color: #fff;
	text-decoration: none;
	padding: 8px;
	border-radius: 4px;
	transition: 0.2s
}

.sidebar-link:hover{
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.sidebar-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-icon.icon-sm {
  width: var(--icon-sm);
  height: var(--icon-sm);
}

.sidebar-icon.icon-md {
  width: var(--icon-md);
  height: var(--icon-md);
}

.sidebar-icon.icon-lg {
  width: var(--icon-lg);
  height: var(--icon-lg);
}

.loginPage{
  background-color: var(--color-background);
  max-width: 100%;
}

